@tailwind base;
@tailwind components;
@tailwind utilities;


/* .glass {
  backdrop-filter: blur(var(--glass-blur, 40px));
    background-color: transparent;
    background-image: linear-gradient(135deg, rgb(255 255 255 / var(--glass-opacity, 30%)), #0000), linear-gradient(var(--glass-reflex-degree, 100deg), rgb(255 255 255 / var(--glass-reflex-opacity, 10%)) 25%, rgb(0 0 0 / 0%) 25%);
} */


@keyframes waveDisappear {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.wave-disappear-text {
  display: inline-block;
  animation: waveDisappear 4s infinite;
}

@keyframes glowFade {
  0%{
    background-position: -200% 0;
  }
  100%{
    background-position: 200% 0;
  }
}

.bg-glow {
  animation: glowFade 4s infinite;
  background: linear-gradient(to right, #333, #666, #333); /* Gradient from dark gray to medium gray and back */
  background-size: 200% 100%; /* Double the width to cover the entire element */
}

@keyframes pulse {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.bg-pulsating-gradient {
  animation: pulse 3s infinite;
  background-image: linear-gradient(to right, #4F46E5, #EC4899, #FFA657);
}

.bg-pulsating-gradient::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-size: 200% 100%;
  background-position: 100% 50%;
  animation: pulse 3s infinite;
}
